{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="text-center">
            <h1>Nuevo usuario</h1>
            {{ form_start(userForm) }}
                {{ form_widget(userForm) }}
                <button type="submit" class="btn btn-primary">Crear</button>
            {{ form_end(userForm) }}
        </div>
    </div>
{% endblock %}

